$font-size: 16px;

$frame_lists: header, navs, content, footer;

//colors
$red-fa: #FA4D56;
$red-fc: #FC574C;
$orange-fd: #FD9B5B;
$green-2e: #2E8D14;
$blue-34: #346FF1;
$blue-02: #0275D8;
$yellow-ff: #FF9F0A;
$brown-bd: #BD9302;
$gray-3d: #3D4C5A;
$gray-e0: #E0E0E0;
$gray-8d: #8d8d8d;
$gray-97: #979797;
$gray-ee: #EEEEEE;
