@import "../node_modules/compass-mixins/lib/compass/reset";
@import "_vars";

body {
    font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
}

@each $keyname in $frame_lists {
    .#{$keyname} {
        width: 100%;
        height: auto;

        & > .#{$keyname}_wrap {
            width: 100%;
            min-width: 1024px;
            height: auto;
        }
    }
}